<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!--/*/ <th:block th:include="fragment_input/head.html :: head">
        </th:block> /*/-->
</head>

<body class="mini-sidebar">
	<!-- Preloader -->
	<div class="preloader">
		<div class="cssload-speeding-wheel"></div>
	</div>
	<div id="wrapper">

		<!-- ===== Top-Navigation ===== -->
		<nav class="navbar navbar-default navbar-static-top m-b-0"
			th:replace="fragments/navbar.html :: navbar"></nav>
		<!-- ===== Top-Navigation-End ===== -->
		<!-- ===== Left-Sidebar ===== -->
		<aside class="sidebar" role="navigation"
			th:replace="fragments/sidebar.html :: sidebar"></aside>
		<!-- ===== Left-Sidebar-End ===== -->
		<!-- Page Content -->
		<div class="page-wrapper">
			<div class="container-fluid">
				<!-- .row -->
				<div class="row">
					<div class="col-sm-12">
						<div class="white-box">
							<h3 class="box-title m-b-0">Formulir Edit Bagian</h3>
							<p class="text-muted m-b-30 font-13">Informasi bagian berdasarkan departemen</p>
							<form class="form-horizontal" th:action="@{/bagian/edit/{id}(id=${bagianForm.id})}"
								th:object="${bagianForm}" method="post">
								<div class="form-group">
									<label class="col-md-12" for="Name">Nama <span
										class="help"> e.g. "Sekolah"</span></label>
									<div class="col-md-12">
										<input type="text" id="name" name="name"
											class="form-control" placeholder="Sekolah" th:attr="value=${bagianForm.name}"> <span
											th:class="${#fields.hasErrors('name')?'help-block' : ''}"
											th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-12">Departement</label>
									<div class="col-md-12">
										<select class="form-control select2" name="departementId">
											<option th:each="o : ${departements}" th:value="${o.id}"
												th:text="${o.name}" th:selected="${o.id==bagianForm.departementId}"></option>
										</select> <p
											th:class="${#fields.hasErrors('departementId')?'help-block' : ''}"
											th:if="${#fields.hasErrors('departementId')}"
											th:errors="*{departementId}">Error</p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-12">Deskripsi</label>
									<div class="col-md-12">
										<textarea class="form-control" rows="5" name="deskripsi" th:inline="text">
										[[${bagianForm.deskripsi}]]
										</textarea>
										<span th:class="${#fields.hasErrors('deskripsi')?'help-block' : ''}"
											th:if="${#fields.hasErrors('deskripsi')}" th:errors="*{deskripsi}">Error</span>
									</div>
								</div>
								
								<button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
								<a th:href="@{/bagian}" class="btn btn-inverse waves-effect waves-light">Batal</a>
								
							</form>
						</div>
					</div>
				</div>
				<!-- /.row -->
				<!-- ===== Right-Sidebar ===== -->
				<div class="right-sidebar"
					th:replace="fragments/right-sidebar.html :: right-sidebar"></div>
				<!-- ===== Right-Sidebar-End ===== -->
			</div>
			<!-- /.container-fluid -->
			<footer class="footer t-a-c"
				th:replace="fragments/footer.html :: footer"> </footer>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<!--/*/ <th:block th:include="fragment_input/script.html :: script">
        </th:block> /*/-->
</body>

</html>
